* {
    box-sizing: border-box;
}
#grid-container{
   display: grid;
   grid-template-areas:
   'header' 'header' 'header'
   'nav' 'body' 'body'
   'footer' 'footer' 'footer';
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;  
   grid-gap: 0;
   grid-template-rows: 50px 50px 50px;
   overflow: auto;
   /*grid-auto-rows: 100px auto 100px min;*/
   
}

#grid-container > div {
    /*background-color:blueviolet;*/

}
/* FOR THE HEADER */
#header-item{
    border-style: solid;
    /*background-color: yellow;*/
    grid-area: header;
    /*height: 150px;*/
    /*grid-row: 1;
    grid-column: 1 / 3;
    background-color:pink;*/
}

/* FOR THE BODY */
#body-item{
    border-style: solid;
    grid-area: body;
    align-self: start;
   /* background-color: blue;*/
}
/* FOR THE NAV MENU */
#nav-item{
    grid-area: nav;
    border-style:double;
    /*background-color:aqua;   */
    height: 45px;
    align-self: stretch;
    
}

/* FOR THE FOOTER */
#footer-item{
    grid-area: footer;
   /* grid-row: 3;
    grid-column: 1 / 3; */
    /*background-color: red;*/
    height: 50%;
    align-self: end;
    text-align: center; 
}


input { /* For the input fields */
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1
}
button { /* For the button */
    background-color:  green;;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}


ul{ /* Nav Menu */
    border-style: dashed;
    margin: 0;
    padding: 5px; 
    overflow: hidden;
    background-color: rgb(29, 27, 27);
   
}
li{ /* Display nav menu in line */
    display: inline;
    padding: 10px; 
    font-size: large;
    
}
li a { /* Effects the links in nav menu */
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.active { /* Highlight current page on menu */
    background-color: green;
}
li a:hover:not(.active){ /* Highlight other when hovering over menu */
    background-color: pink
}

.container{ /* FOR FORM */
    border-style: dotted;
    padding: 16px;
    width: 500px;
    margin: auto;
    background-color: black;
    color:red;
} 

h1, h2, h4{
    text-align: center;
}

div > p {
    display: inline-block;
   
}

#f-text{
    color: black;
}
