<!DOCTYPE html>
<html style="background-color: rgb(129, 129, 129);">
{% extends "master.html"%}
{% load static%}
{% block title %}
<title>CyPort Home</title>
{% endblock %}
{% block content %}

 <div id="grid-container"> <!-- Start of grid container-->

        <div id="header-item"> <!-- Start of header grid item -->
                    <h1>CyPort</h1>
                    <h2 id="subheader">A portal to connect with others</h2>
                    <!--<hr>-->
        </div>

        <div id="body-item"> <!-- Start of body grid item -->
            <div class="container">
                <!--<form name='form' method='post' action=''>-->
               
                <ul>
                    <h3>WELCOME TO CYPORT</h3>
                <p>  Quick description of CyPort </p>
                <p> Include an image or something </p>
                </ul>
            </div>
        </div>

            <div id="nav-item"> <!-- Start of menu grid item -->
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="register/">Sign Up</a></li>
                    <li><a href="login/">Login</a></li>
                    <li><a href="admin/">Admin</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>

        <div id="footer-item"> <!-- Start of footer grid item -->
            <p><a href="#" id="f-text">Español</a></p>
            
        </div>
    </div>
{% endblock %}
</html>

