<!DOCTYPE html>
{% load static %}
<html>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'users/register2.css' %}">
    {% block title%}
    <title> Registration page </title>
    {%endblock%}
    {% block content %}
    <div id="grid-container"> <!-- Start of grid container-->

        <div id="header-item"> <!-- Start of header grid item -->
                    <h1>Welcome to CyPort</h1>
                    <h2 id="subheader">A portal to connect with others</h2>
                    <!--<hr>-->
        </div>

        <div id="body-item"> <!-- Start of body grid item -->
            <div class="container">
                <!--<form name='form' method='post' action=''>-->
                    <h2>Registration</h2>
                    <h4>Fill in this form to join the network</h4>
                    <hr>
                
                    <button  name="btn" type="submit" class="registerbtn" value="btn">Register</button>
             
                <p>By creating an account, you agree to our <a href="#">Terms & Privacy</a></p>
            </div>
        </div>

            <div id="nav-item"> <!-- Start of menu grid item -->
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a class="active" href="#">Sign Up</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>

        <div id="footer-item"> <!-- Start of footer grid item -->
            <p><a href="#" id="f-text">Español</a></p>
            
        </div>
    </div>
    {% endblock %}
</html>